[Unit]
Description=OMT Player
After=network-online.target avahi-daemon.service
Wants=network-online.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=SDL_AUDIODRIVER=alsa
Environment=AUDIODEV=hw:0,3
ExecStart=/opt/omtplayer/omtplayer "NOTE-LUCIANO (vMix - Output 1)"
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
